html,
body {
    height: 3000px;
    background: black;
}

video {
    position: fixed;
    top: 0;
    left: 50%;
    wdith: 50%;
    transform: translate(-50%, 0);
}

h1 {
    z-index: 1;
    position: relative;
    text-align: center;
    font-family: arial;
    font-size: 16px;
    color: #333333;
}